header {
  background-color: antiquewhite;
  height: 100px;
  margin-bottom: 30px;
}

nav {
  width: 960px;
  margin: auto;
}

header img {
  float: left
}

header ul {
  display: flex;
  justify-content: space-between;
}

header ul li {
  margin-top: 40px;
}

main {
  width: 960px;
  margin: auto;
}